<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>グループ詳細</title>
</head>
<body>

<div><a th:href="@{/groups}">グループトップページ</a></div>

<h1>グループ詳細</h1>
<form method="post" th:action="@{/groups/{id}/update(id=${group.id})}">
    <label for="name">名前:</label>
    <input id="name" name="name" type="text" th:value="${group.name}"/><br>

    <label for="description">説明:</label>
    <textarea id="description" name="description" th:text="${group.description}"></textarea><br>

    <label>ロック状況:</label>
    <input type="radio" id="locked-true" name="locked" value="true" th:checked="${group.locked}">
    <label for="locked-true">locked</label>
    <input type="radio" id="locked-false" name="locked" value="false" th:checked="${!group.locked}">
    <label for="locked-false">unlocked</label>

    <div>
        <div>登録済み受信者一覧</div>
        <ul id="registered-recipient-list"></ul>
    </div>

    <input type="submit" value="更新">
</form>

<h1>登録済み受信者一覧</h1>
<ul th:each="registeredRecipient: ${registeredRecipients}">
    <li><span th:text="${registeredRecipient.name}">name</span>(<span
            th:text="${registeredRecipient.email}">email</span>)
    </li>
</ul>

<h1>受信者検索(Javascriptバージョン)</h1>
<div>
    <form id="search-recipient-form">
        <label for="search-name">検索(名前):</label>
        <input id="search-name" name="searchName" type="text"/><br>
        <input type="button" onclick="searchRecipient()" value="検索">
    </form>
    <ul id="search-recipient-results"></ul>
</div>


<script th:inline="javascript">
    const baseUrl = /*[[@{/api/recipients}]]*/'';
    const registeredRecipients = new Map((/*[[${registeredRecipients}]]*/[]).map(recipient => [recipient.id, recipient]));
    console.log(registeredRecipients);

    const searchRecipientForm = document.getElementById("search-recipient-form");
    searchRecipientForm.addEventListener("submit", event => {
        event.preventDefault();
        searchRecipient();
    })

    function searchRecipient() {
        const formData = new FormData(searchRecipientForm)
        const searchName = formData.get("searchName");
        const url = searchName === "" ? baseUrl : `${baseUrl}?name=${searchName}`
        fetch(url).then(res => {
            if (res.ok) {
                return res.json();
            }
            throw new Error(`search recipient error: ${res.status}`);
        }).then(recipients => {
            renderSearchRecipientResult(recipients);
        }).catch(error => {
            console.error(error);
        });
    }

    function renderSearchRecipientResult(recipients) {
        const list = document.getElementById("search-recipient-results");
        list.replaceChildren();
        recipients.forEach(recipient => {
            const li = document.createElement("li");

            const name = document.createElement("span");
            name.textContent = recipient.name;

            const button = document.createElement("button");
            button.type = "button";
            button.textContent = "追加";
            button.addEventListener("click", () => {
                if (!registeredRecipients.has(recipient.id)) {
                    registeredRecipients.set(recipient.id, recipient);
                    renderRegisteredRecipient();
                }
            });

            li.appendChild(name);
            li.appendChild(button);
            list.appendChild(li);
        });
    }

    function renderRegisteredRecipient() {
        const list = document.getElementById("registered-recipient-list");
        list.replaceChildren();
        registeredRecipients.forEach(recipient => {
            const li = document.createElement("li");

            const name = document.createElement("span");
            name.textContent = `${recipient.name}(${recipient.email})`;

            const button = document.createElement("button");
            button.type = "button";
            button.textContent = "解除";
            button.addEventListener("click", () => {
                if (registeredRecipients.has(recipient.id)) {
                    registeredRecipients.delete(recipient.id);
                    renderRegisteredRecipient();
                }
            });

            li.appendChild(name);
            li.appendChild(button);
            list.appendChild(li);
        });
    }

</script>
</body>
</html>