<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>グループ詳細</title>
</head>
<body>

<div><a th:href="@{/groups}">グループトップページ</a></div>

<h1>グループ詳細</h1>
<form method="post" th:action="@{/groups/{id}/update(id=${group.id.value})}">
    <label for="name">名前:</label>
    <input id="name" name="name" type="text" th:value="${group.name.value}"/><br>

    <label for="description">説明:</label>
    <textarea id="description" name="description" th:text="${group.description.value}"></textarea><br>

    <label>ロック状況:</label>
    <input type="radio" id="locked-true" name="locked" value="true" th:checked="${group.locked}">
    <label for="locked-true">locked</label>
    <input type="radio" id="locked-false" name="locked" value="false" th:checked="${!group.locked}">
    <label for="locked-false">unlocked</label>

    <input type="submit" value="更新">
</form>

<h1>登録済み受信者一覧</h1>
<ul th:each="member: ${members}">
    <li><span th:text="${member.name.value}">name</span>(<span th:text="${member.email.value}">email</span>)</li>
</ul>

<h1>受信者検索</h1>
<form method="get" th:action="@{/groups/{id}(id=${group.id.value})}">
    <label for="searchName">検索(名前):</label>
    <input id="searchName" name="searchName" type="text"/><br>

    <input type="submit" value="検索">
</form>
<ul th:each="recipient: ${searchResult}">
    <li><span th:text="${recipient.name.value}">name</span>(<span th:text="${recipient.email.value}">email</span>)</li>
</ul>

</body>
</html>