<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>受信者トップページ</title>
</head>
<body>
<div><a th:href="@{/}">トップページ</a></div>
<div><a th:href="@{/recipients/create}">新規の受信者登録</a></div>
<h1>登録受信者一覧</h1>
<div id="search-all-recipients-result"></div>

<script th:inline="javascript">
    (() => {
        const apiBaseUrl = /*[[@{/api/v1/recipients}]]*/'';
        const baseUrl = /*[[@{/recipients}]]*/'';

        printAllRecipients();

        async function printAllRecipients() {
            const result = document.getElementById("search-all-recipients-result");
            result.replaceChildren();

            const response = await fetch(apiBaseUrl);
            const recipients = await response.json();

            recipients.forEach(recipient => {
                const div = document.createElement("div");
                div.textContent = `${recipient.name}(${recipient.email}, ${recipient.locked ? "locked" : "unlocked"})`;

                const detailButton = document.createElement("button");
                detailButton.type = "button";
                detailButton.textContent = "詳細";
                detailButton.addEventListener("click", () => {
                    window.location.href = `${baseUrl}/${recipient.id}`;
                });

                const deleteButton = document.createElement("button");
                deleteButton.type = "button";
                deleteButton.textContent = "削除";
                deleteButton.addEventListener("click", async () => {
                    await fetch(`${apiBaseUrl}/${recipient.id}`, {
                        method: "DELETE"
                    });
                    await printAllRecipients();
                })

                div.appendChild(detailButton);
                div.appendChild(deleteButton);
                result.appendChild(div);
            })
        }
    })();
</script>
</body>
</html>